body{
    text-align: center;


    font-weight: bolder;
}
.a1{
    color: rgb(247, 28, 8);
}
.a2{
    color: rgb(213, 181, 22);
}
.a3{
    color: rgb(102, 236, 40);
}
.a4{
    color: rgb(78, 10, 2);
}
.a5{
    color: rgb(42, 99, 7);
}