 body {
      font-family: sans-serif;
      background-color: #f4f4f4;
      color: #222;
      padding: 20px;
    }

    .car-container {
      margin-bottom: 30px;
      background: #fff;
      padding: 15px;
      border-radius: 10px;
  
    }

    .car-container img {
      max-width: 100%;
      border-radius: 8px;
    }

    h2 {
      color: #0055aa;
    }
H1{
    text-align: center;
}
H3{
    text-align: center; 
}